<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        {% include 'school/styling_links.html'%}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h3>Are you sure you want to delete the following course?</h3>
                    <h4>Name: {{ course.course_name }} </h4>
                    <h4>Description: {{ description.course.description }}</h4>
                    <form class="" action="/complete_delete" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary btn-md" href="#">
                        <i class="fa fa-md"></i> No
                        <button type="submit" class="btn btn-danger btn-md" href="#">
                        <i class="fa fa-trash-o fa-sm"></i> Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
